/* ---------General---------- */

html {
  box-sizing: border-box;

  background-color: #eee9de;
  line-height: 1.5;
  font-family: Lato, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* -------Box Styling-------- */

body {
  font-family: Lato;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.text {
  text-align: left;
}

h2 {
  color: #333;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

p {
  color: #333;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

section {
  padding: 2em 0;
  text-align: center;
}

section div {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  text-align: left;
  background-color: transparent;
  color: #333;
  border-radius: 8px;
  border: 3px solid #333;
  font-size: 1.125rem;
  padding: .4em .75em .5em;
  text-decoration: none;
}

a :hover {
  color: #666;
}
